.section {
    padding: 70px 0 0 0;
}
.row {
    align-items: center;
    justify-content: space-evenly;
}
.box {
    overflow: hidden;
    padding: 0;
    border-radius: 3%;
    margin-bottom: 3%;
}
.box-image {
    filter: grayscale(80%); 
    position: relative;
    
}
.box-image:hover {
    animation: img-scale 2s 1 ease forwards;
    cursor: pointer;
}
@keyframes img-scale {
    from{transform: scale(1); filter: grayscale(80%); }
    to{transform: scale(1.2); filter: grayscale(0%); }
}
.box-h1 {
    width: 100%;
    color:#fff;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    background: rgba(0, 0, 0, .5);
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.clear-filter[filter-color=netflix] {
    background: linear-gradient(0deg,rgba(142,14,0,.2),rgba(31,28,24,.6));
}

#copyright {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-style {
    width: 20rem;
    height: 23rem;
}
.card-style:hover {
    transform: scale(1.1)
}
.card-head {
    height: 7rem;
}
.card-text {
    height: 10rem;
}
.card-text a {
    color: #CE0000;
}

.btn-icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) !important;
    font-size: 30px !important;
    width: auto !important;
}

.blockquote:nth-child(odd) {
    border: thick double#36DBA6;
}
.blockquote:nth-child(even) {
    border: thick double #32a1ce;
}
.blockquote a {
    color: #2c2c2c;
}
.container h3 {
    text-align: center;
}
.blockquote table tr th:nth-child(1) {
    width: 40%;
}
.blockquote table tr th:nth-child(2) {
    width: 60%;
}
.blockquote table tbody tr {
    background: #F5FFFA;
}
.blockquote table tbody tr:hover {
    background:#ebf9f2;
}
.footer{
    position: relative;
}
#go_top{
    position: absolute;
    right: 1%;
    top: -50%
}

